*.py[cod]
*.pfx
/trampol.sqlite
/MISETranslatorSuite/*.info
/MISETranslatorSuite/*.info.meta
/MISETranslatorSuite/*.hints.csv
/MISETranslatorSuite/trampol.sqlite
/MISETranslatorSuite/test/*
/MISETranslatorSuite/mysessions.txt
/MISETranslatorSuite/mysessions.txt.*
/MISETranslatorSuite/mysessions-empty.txt
/MISETranslatorSuite/mysessions-filled.txt
/test
/test/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
